<%=turbo_frame_tag dom_id(comment) do %>
  <p><%= comment.content %></p>
  <%= link_to 'Edit', edit_comment_path(comment) %>
  |
  <%= link_to 'Destroy', comment_path(comment), method: :delete, data: { turbo_confirm: 'Sure?', turbo_method: :delete } %>
  <hr />
<% end %>
